{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
			<ul class="list-inline">
				<li><a  class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="https://github.com/petrsvihlik" title="Github"><i class="fa fa-fw fa-github"></i></a></li>
				<li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="http://stackoverflow.com/users/1332034/rocky" title="Rss"><i class="fa fa-fw fa-stack-overflow"></i></a></li>
				<li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="https://twitter.com/PetrSvihlik" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
				<li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="https://linkedin.com/in/svihlik" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a></li>
				<li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="mailto:svihlik.petr@gmail.com" title="Email"><i class="fa fa-fw fa-envelope"></i></a></li>            
				<li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" href="https://rocky.wtf/rss/" title="Rss"><i class="fa fa-fw fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
